# macOS System Files
.DS_Store
.AppleDouble
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potential created by Apple share points
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

# Virtual environment files created when using PyCharm to add Google Analytics to all .html.
tools/venv/

# PyCharm IDE-specific project settings
.idea/

# Python
__pycache__/
*.pyc